
{% extends 'main.html' %}
{% load static %}
{% block content %}


<h1>Search a post</h1>
<br/>
	

<form  method=POST>
{% csrf_token %}
<input type="input" class="form-control"  placeholder="Search" name="search">
<br/><br/>
  <button type="submit" class="btn btn-secondary">Search</button>
</form>

<br/><br/>

{% if search %}
<h3>You Searched For: {{ search }}</h3>
<br/>

{% for post in searched %}
	<div class="alert alert-dark" role="alert">
<div class="container">
	<div class="row">
		<div class="col-1">
		  {% if meep.user.profile.profile_image %}
				<img src="{{ post.user.profile.profile_pic.url }}" width=50 height=50 class="rounded-circle" alt="{{ profile.user.username }}">

				{% else %}
				<img src="{% static 'images/profile_pic.jpeg' %}" width=50 height=50 class="rounded-circle" alt="{{ profile.user.username }}">	
				{% endif %}
		</div>
{% comment %} post body {% endcomment %}
		<div class="col-11">
		  {{ post.body }}<br/>
		  <small class="text-muted">
		  	({{ post.created_at}}) By 
		  	@{{ post.user.username }}
		  	&nbsp;&nbsp;
		  	{{ meep.number_of_likes }}  

		  	{% if user in post.likes.all %}
		  	  <a href="{% url 'post-like' post.id %}">
	<i class="fa-solid fa-heart" style="color:red"></i></a>
		  	{% else %}
		  		<a href="{% url 'post-like' post.id %}">
		  <i class="fa fa-heart-o" style="color:red"></i></a>
		  	{% endif %}
		  	&nbsp;&nbsp;
		  	<a href="{% url 'share-post' post.id %}">
	<i class="fa-solid fa-share" style="color:gray"></i>
		  	</a>
		  	

		  </small>
		</div><br/><br/>
	
			</div>
		</div>
	</div>
{% endfor %}

{% endif %}

<br/><br/>
{% endblock %}
